# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
smartqa-server/node_modules/
smartqa-react-client/node_modules/

# Environment files
.env
smartqa-server/.env
smartqa-react-client/.env

# Build output
dist/
dist-ssr/
*.local

# Git folders to ignore if accidentally created
distgit/

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
